$primarycolor: #F9F5EB;
$secondarycolor: #EAE3D2;
$tertiarycolor: #607EAA;
$quaternarycolor: #1C3879;

$heebo-300: 'Heebo', sans-serif;

$contentpadding: 1px 10px 1px 10px;
$contentGaps: 12px;
$gapbetweentitleandlink: 1em;
$idLogoSize: 1.3em;
$mainSectionGap: 20px;
$mainSection2Gap: 20px;
$genfontsize: 18px;

$linkwidth: 80vw;
$leftwidth: 20%;
$centerwidth: 75%;
$rightwidth: 5%;
$implicitMargins: -20px;


select{
    font-size: $genfontsize;
}
button{
    font-size: $genfontsize;
}

#general-list{
    overflow-wrap: break-word;
    text-align: center;

    #save-link-description{
        width: 1em;
        height: 1em;
    }
}

#mainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $mainSectionGap;
}

#mainSection2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $mainSection2Gap;
}

a{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}
.secondLayerSubsections{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentItem{
    width: $linkwidth;
    margin-top: $contentGaps;
    margin-bottom: $contentGaps;
    padding: $contentpadding;
    background-color: $primarycolor;
    border-radius: 10px;
    box-shadow: 8px 8px 5px 0px rgb(182, 182, 182);

    // transition: all .2s ease-in-out;

    display: grid;
    grid-template-columns: 0.2fr 1fr 1.3em;
    grid-template-areas: "titleicon description copylink";
    grid-column-gap: 1em;
    justify-items: center;
    justify-content: center;
    align-content: center;
    grid-auto-flow: row;

    .title-icon{
        grid-area: titleicon;
        justify-self: stretch;
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .description-link{
        grid-area: description;
        justify-self: stretch;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        // max-width: $centerwidth;
        overflow-wrap: break-word;
        margin: 0;

        
        a{
            overflow-wrap: break-word;
            margin: 0;
        }
        
        p{
            margin: 0;
            overflow-wrap: break-word;
        }

        .description{
            margin: 0;
            font-weight: bold;
            overflow-wrap: break-word;
        }

        .contentLink{
            word-break: break-all;
        }
    }
    #button{
        grid-area: copylink;
        justify-self: stretch;
        align-self: stretch;
        display: inline-block;
        background-color: inherit;
        margin: 0;
        // padding: 0 3em 0 3em;

        width: 1.3em;
        height: 1.3em;
        align-self: center;

        transition: all .2s ease-in-out;
    }

    #button:hover{
        cursor: pointer;

        transform: scale(1.25);
    }




}

// .contentItem:hover{
//     transform: scale(1.01);
//     cursor: pointer;
// }

.idLogo{
    display: inline-block;
    height: $idLogoSize;
    width: $idLogoSize;
}

@media screen and (max-width : 999px){
    #general-list{ font-size: 17px; }
    button{ font-size: 17px; }
    select{ font-size: 17px; }
}

@media screen and (max-width: 750px){
    #general-list{ font-size: 15px; }
    button{ font-size: 15px; }
    select{ font-size: 15px; }
}

@media screen and (max-width: 600px){
    .contentItem{ width: 90%; }
}

@media screen and (max-width: 520px){
    .description-link{ font-size: 13px; }
    button{ font-size: 13px; }
    select{ font-size: 13px; }
}

// Phone Width
@media screen and (max-width: 400px){
    .contentItem{
        gap: 0px;
    }
    // .description-link{
    //     width: 50%;
    // }
}

// Sub-Phone Width
@media screen and (max-width: 250px){
    .idLogo{ display: none; }
}