@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

$heebo-300: 'Heebo', sans-serif;

$fontsizebookspage: 18px;

// select{font-size: $fontsizebookspage;}
// button{font-size: $fontsizebookspage;}
// label{font-size: $fontsizebookspage;}

#booklink-content{
    text-align: center;

    font-size: $fontsizebookspage;
}

#booksPage-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $fontsizebookspage;

    #bottomlist{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}

@media screen and (max-width : 999px){
    #booklink-content{ font-size: 15px; }
    #booksPage-info{ font-size: 15px; }
    button{ font-size: 15px; }
}

@media screen and (max-width: 750px){
    #booklink-content{ font-size: 12px; }
    #booksPage-info{ font-size: 12px; }
    button{ font-size: 12px; }
}

@media screen and (max-width: 520px){
    #booklink-content{ font-size: 11px; }
    #booksPage-info{ font-size: 11px; }
    button{ font-size: 11px; }
}