$primarycolor: #F9F5EB;
$secondarycolor: #EAE3D2;
$tertiarycolor: #607EAA;
$quaternarycolor: #1C3879;

$heebo-300: 'Heebo', sans-serif;

$h3padding: 10px 10px 10px 10px;

#collectionContent{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    #linksCollection{
        display: flex;
        flex-direction: column;
        align-items: center;

        h3{
            padding: $h3padding;
            background-color: $primarycolor;
            border-radius: 10px;
            box-shadow: 10px 10px 2px 0px gray;

            transition: all .2s ease-in-out;
        }

        h3:hover{
            transform: scale(1.1);
            cursor: pointer;
        }

        a{
            text-decoration: none;
            color: black;
        }
    }
}

@media screen and (max-width : 999px){
    #collectionContent{
        font-size: 17px;
    }
}

@media screen and (max-width: 750px){
    #collectionContent{
        font-size: 15px;
    }
}

// @media screen and (max-width: 600px){
//     .contentItem{ width: 90%; }
// }

@media screen and (max-width: 520px){
    #collectionContent{
        font-size: 13px;
    }
}

// // Phone Width
// @media screen and (max-width: 400px){
//     .contentItem{
//         gap: 0px;
//     }
//     .description-link{
//         width: 50%;
//     }
// }