@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primarycolor: #F9F5EB;
$secondarycolor: #EAE3D2;
$tertiarycolor: #607EAA;
$quaternarycolor: #1C3879;

$heebo-300: 'Heebo', sans-serif;

$generalfontsize: 25px;
$buttonFontSize: 25px;
$buttonPadding: 10px 15px 10px 15px;

#home-main-container{
    font-size: $generalfontsize;
    background-color: $primarycolor;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
        text-decoration: none;
    }

    #collectionButton{
        font-size: $buttonFontSize;
        background-color: $quaternarycolor;
        color: white;
        padding: $buttonPadding;
        border-radius: 10px;
    }
    
    #featured-content{
        border: 1px solid red;
    }
}