@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primarycolor: #F9F5EB;
$secondarycolor: #EAE3D2;
$tertiarycolor: #607EAA;
$quaternarycolor: #1C3879;

$heebo-300: 'Heebo', sans-serif;

$generalfontsize: 20px;
$buttonPadding: 0.75em 1em 0.75em 1em;

#home-main-container{
    font-size: $generalfontsize;
    background-color: $primarycolor;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
        text-decoration: none;
    }
    
    #collectionButton{
        font-size: $generalfontsize;
        background-color: $quaternarycolor;
        color: white;
        padding: $buttonPadding;
        border-radius: 0.75em;
    }
    
    #randomLink{
        
        
        button{
            font-size: $generalfontsize;
        }
        button:hover{
            cursor: pointer;
        }
    }
}


@media screen and (max-width : 999px){
    #home-main-container{
        font-size: 17px;
        .button{ font-size: 17px; }
        #collectionButton{ font-size: 17px; }
    }
}

@media screen and (max-width: 750px){
    #home-main-container{
        font-size: 15px;
        .button{ font-size: 15px; }
        #collectionButton{ font-size: 15px; }
    }
}

// @media screen and (max-width: 600px){
//     .contentItem{ width: 90%; }
// }

@media screen and (max-width: 520px){
    #home-main-container{
        font-size: 13px;
        .button{ font-size: 13px; }
        #collectionButton{ font-size: 13px; }
    }
}

// // Phone Width
// @media screen and (max-width: 400px){
//     .contentItem{
//         gap: 0px;
//     }
//     .description-link{
//         width: 50%;
//     }
// }