---
import SiteListLayout from "../layouts/SiteListLayout.astro";
import '../styles/aboutus.scss';
---

<SiteListLayout>
    <div id='about-container'>
        <h3>About Us</h3>
        <p>
            SiteList is an online collection of links.
        </p>
        <p>
            We take no responsibility for the content on the links,
            though we try to be reasonable about what we post.
            If there are any broken links, let us know.
        </p>
        <p>
            Since this is a free effort that is maintained regularly, feel free to donate to support this project.
        </p>
    </div>
</SiteListLayout>