---
import SiteListLayout from "../layouts/SiteListLayout.astro";
import '../styles/pages/aboutus.scss';
---

<SiteListLayout>
    <div id='about-container'>
        <div id="about-inner-container">
            <h3>About Us</h3>
            <p>
                SiteList is an online collection of links.
                We limit our links to free resources, especially web-based resources.
                We hope the resources can help satisfy any need.
            </p>
            <p>
                We take no responsibility for the content on the links,
                though we try to be reasonable about what we post.
                If there are any broken links, let us know.
                If there is a relevant link we're missing that you know of, also let us know.
                Press the button below to contact us or go to the Contact Us page through the menu
            </p>
            <p>
                Since this is a free effort that is maintained regularly,
                feel free to donate to support this project.
            </p>
            <a href="/contactus"><p id="contactUsButton">Contact Us</p></a>
        </div>
    </div>
</SiteListLayout>