---
import SiteListLayout from "../layouts/SiteListLayout.astro";
import '../styles/pages/collection.scss';
---

<SiteListLayout>
    <div id='collectionContent'>
        <h2>Complete Collection</h2>
        <h3>Let us know if we're missing anything you need</h3>
        <div id='linksCollection'>
            <a href="/books"><h3>Books, Articles, and Education</h3></a>
            <a><h3>Everyday Tools and Utility</h3></a>
            <a href="/osint"><h3>Open Source Intelligence</h3></a>
            <a><h3>Tools I Didn't Know I Should Use</h3></a>
            <a><h3>Programming Tools</h3></a>
            <a><h3>Random Funny</h3></a>
            <a><h3>Random Interesting</h3></a>
            <a><h3>Security Resources</h3></a>
        </div>
    </div>
</SiteListLayout>