---
import SiteListLayout from "../layouts/SiteListLayout.astro";
import "../styles/index.scss";
---


 
        
<SiteListLayout>
	<div id="home-main-container">
		<h3>
			Check out Our Featured Links below or Press on the Following Button to see our Entire Collection
		</h3>
		<a href='/collection'><h3 id='collectionButton'>Collection</h3></a>
		<h2>Featured</h2>
		<a href="/secret"><h3>Secret</h3></a>
		<a href="/loginpage"><h3>Login</h3></a>
		<div id="featured-content">
	
		</div>
	</div>
</SiteListLayout>