---
import RandomLink from "../components/index/RandomLink";
import SiteListLayout from "../layouts/SiteListLayout.astro";
import "../styles/pages/index.scss";
---


 
        
<SiteListLayout>
	<div id="home-main-container">
		<h3>
			Check out Our Featured Links below or Press on the Following Button to see our Entire Collection
		</h3>
		<a href='/collection'><h3 id='collectionButton'>Collection</h3></a>
		<h2>Featured</h2>
		<RandomLink client:only="solid-js" />
	</div>
</SiteListLayout>