---
import SiteListLayout from "../layouts/SiteListLayout.astro";
---

<SiteListLayout>
    <h3>Your message was sent. Thank you for contacting Us. If you left an email, we will try to respond shortly.</h3>
</SiteListLayout>