---
import '../styles/layouts/SiteListLayout.scss';
import NavBar from '../components/layouts/NavBar';
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sitelist Official</title>
    </head>
    <body>
        <NavBar client:only="solid-js" />
        <slot />
        <div id='separator'></div>
        <footer>
            <div id="left-footer">
                <p>No Copyright. Use However You Like</p>
            </div>
            <div id="right-footer">
                <p>Donate for Better Development?</p>
            </div>
        </footer>
    </body>
</html>