---
import '../styles/mainlayout.scss';
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sitelist Official</title>
    </head>
    <body>
        <nav>
            <h3 id='sitetitle'>Sitelist</h3>
            <div id="right-nav">
				<a href="/"><h3 id="home-button">Home</h3></a>
				<div id="dropdown-section">
					<a href='/collection'><h3 id="browse-button">Browse</h3></a>
					<div id="dropdown-content">
						<a href="/books"><h3>Ebooks and Education</h3></a>
						<a href="/osint"><h3>OSINT</h3></a>
						<a href="/books"><h3>Programming Tools</h3></a>
                        <a href="/books"><h3>Security Resources</h3></a>
                        <a href="/books"><h3>Everyday Utility</h3></a>
                        <a href="/books"><h3>Random Utility</h3></a>
                        <a href="/books"><h3>Random Interesting</h3></a>
                        <a href="/books"><h3>Random Funny</h3></a>
					</div>
				</div>
				<a href="/aboutus"><h3 id="aboutus">About Us</h3></a>
            </div>
        </nav>
        <slot />
        <div id='separator'></div>
        <footer>
            <div id="left-footer">
                <p>Sitelist Copyright 2022</p>
            </div>
            <div id="right-footer">
                <p>Contact Us</p>
            </div>
        </footer>
    </body>
</html>